<div class="header">
  <h1 id="site_name">CareerQuestions.Dev</h1>
  <p id="short_desc">A step-by-step guide to getting your first software engineering job.</p>

</div>

<div>
  <h2 class="question">I am a...</h2>
</div>
<div class="answers">
  <%= button_to "Freshman", { action: "index" } %>
  <%= button_to "Sophomore", { action: "index" } %>
  <%= button_to "Junior", { action: "index" } %>
  <%= button_to "Senior", { action: "index" } %>
  <%= button_to "Second Degree", { action: "index" } %>
</div>
