<div class="header">
  <h1 id="site_name">CareerQuestions.Dev</h1>
  <p id="short_desc">A step-by-step guide to getting your first software engineering job.</p>

</div>

<div>
  <h2 class="question">I am a...</h2>
</div>
<div class="answers">
  <%= button_to "Freshman", { action: "create" }, :name => 'freshman' %>
  <%= button_to "Sophomore", { action: "create" }, :name => 'sophomore'  %>
  <%= button_to "Junior", { action: "create" }, :name => 'junior' %>
  <%= button_to "Senior", { action: "create" }, :name => 'senior' %>
  <%= button_to "Second Degree / Non-Traditional", { action: "create" }, :name => 'nontraditional' %>
</div>
<div class="page_count">1/3</div>