<div class="header">
  <h1 id="site_name">Internship.Dev</h1>
  <p id="short_desc">Your step-by-step guide to finding a CS internship</p>

</div>

<div>
  <h2 class="question">I am a...</h2>
</div>
<div class="answers">
  <%= button_to "Freshman", { action: "new" } %>
  <%= button_to "Sophomore", { action: "new" } %>
  <%= button_to "Junior", { action: "new" } %>
  <%= button_to "Senior", { action: "new" } %>
  <%= button_to "Second Degree", { action: "new" } %>
</div>