<%= session[:userinfo].inspect %>


<article>
  <% @user.steps.each do |element| %>
  <h1><%= element.content %></h1>
  <% end %>
</article>

<div id="more">
  <a href="#timeline" id="learnMore">Learn More</a>
</div>

<br>

<div>
  <%= image_tag("danielle-macinnes-222441-unsplash.jpg", id:"image_begin") %><br>
  <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
    href="https://unsplash.com/@dsmacinnes?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
    target="_blank" rel="noopener noreferrer"><span
      style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
        style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32">
        <title>unsplash-logo</title>
        <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
      </svg></span><span style="display:inline-block;padding:2px 3px">Danielle MacInnes</span></a>
</div>

<div id="timeline">
  <% @user.steps.each do |element| %>
  <article>
    <h1><%= element.content %></h1>
    <%= simple_format element.extra %>
  </article>
  <% end %>
</div>

<a href="/auth/auth0">Login</a>
<a href="auth/logout">Log out</a>

<div id="imageset">
  <div class="inline-block">
    <%= image_tag("01.jpg", class:"squareimage") %>
  </div>

  <div class="inline-block">
    <%= image_tag("02.jpg", class:"squareimage") %>
  </div>

  <div class="inline-block">
    <%= image_tag("03.jpg", class:"squareimage") %>
  </div>
  <div class="inline-block">
    <%= image_tag("04.jpg", class:"squareimage") %>
  </div>

</div>
