<!DOCTYPE html>
<html>
  <head>
    <title id="site_name">CareerQuestions.Dev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <%= image_tag("003.jpg") %><br>
    <div class="centered">
      <a href="https://vast-sands-29785.herokuapp.com/" id="site_name">CareerQuestions.Dev</a>
      <p id="short_desc">A step-by-step guide to getting your first software engineering job</p>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
